* {
  margin: 0px;
  padding: 0px;
  border: none;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #101010;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

a.linkType {
  color: #57da6c;
  cursor: pointer;
}

a.linkType:hover {
  text-decoration: underline;
}

.off {
  display: none;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #000000d0;
  z-index: 1;
}

#defaultBG {
  margin: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #303030;
}
