#login {
    position: relative;
}

#email, #pswd {
    padding: 5px 10px;
    height: 100%;
    color: white;
    background-color: transparent;
    cursor: pointer;
}

#email:focus, #pswd:focus {
    border-bottom: 1px solid white;
}
