#tabHeads {
    position: relative;
    height: 40px;
    background-color: #1e1e1e;
}

.tabHead {
    display: inline-block;
    line-height: 40px;
    color: white;
    cursor: pointer;
}

.tabHead {
    margin-left: 20px;
    color: #a0a0a0;
}

.tabHead.selected {
    color: white;
    border-bottom: 1px solid white;
}

#tabContents {
    padding: 30px 20px;
}

input[type="button"], input[type="submit"] {
    padding: 0px 20px;
    height: 38px;
    color: white;
    background-color: #2d8d4a;
    border-radius: 5px;
    cursor: pointer;
}

input[type="button"][disabled], input[type="submit"][disabled] {
    color: #ffffff60;
    background-color: #ffffff20;
    cursor: default;
}
